@model MyKitchenRec.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Reset password";
}



<div class="col-md-6 offset-md-3 ResetPassword">

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h5>Reset your password.</h5>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-6 control-label" })
            <div class="col-md-10">
                <input class="main-input-box form-control" type="text" id="forget-password-email" name="email" placeholder="Your e-mail" required />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-6 control-label" })
            <div class="col-md-10">
                <input class="main-input-box form-control" type="text" id="forget-password-email" name="password" placeholder="New Password" required />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-6 control-label" })
            <div class="col-md-10">
                <input class="main-input-box form-control" type="text" id="forget-password-email" name="confirmPassword" placeholder="Confirm  New Password" required />
            </div>
        </div>
        <div class="form-group">
            <div class="inline-box col-md-offset-2 col-md-10">
                <button class="btn-fill text-center" type="submit" id="" value="">Send </button>
            </div>
        </div>
    }
</div>
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@


